
<div class="background">
	<div class="container">
		<div class="row">
            
			<div class="col-12 text-center">
				<h1 class="quote3">FOOD 4 ALL</h1>
			</div>


			<div class="col-12 col-md-4">
				<div class="shadow bg-card p-3 mb-3 mt-3">
				   <img src="/assets/images/donation-img.jpg" class="bg-img w-100">
				    <h1 class="bg-text pt-2">We're not getting younger. Today let's fight hunger!</h1>
			  </div>
		   </div>

		   <div class="col-12 col-md-4">
			  <div class="shadow bg-card p-3 mb-3 mt-3">
			      <img src="/assets/images/donation-img2.jpg" class="bg-img w-100">
				   <h1 class="bg-text pt-2">Show some love, donate.</h1>
		       </div>
	      </div>

	      <div class="col-12 col-md-4">
		      <div class="shadow bg-card p-3 mb-3 mt-3">
		         <img src="/assets/images/donation-img3.jpg" class="bg-img w-100">
			     <h1 class="bg-text pt-2">Look what we can do together.</h1>
	       </div>
        </div>
   </div>	

   <div class="col-12 text-center">
        <h1 class="quote">Donating to the needy is a great way to improve the conditions in your neighborhood or community. Donating food to the worthy people or organizations helps counter poverty, hunger and at the same time, it can improve harmony, friendliness, and trust among residents.</h1>
	</div>
	<div class="col-12 text-center">
        <h1 class="quote2">Give what you can</h1>
	</div>
   </div>
</div>
